<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit-6-0-Home-Page_IPYNB_2_.html">Unit 6 Home</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/13/Unit-6.1-Lesson_IPYNB_2_.html">Unit 6.1</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/13/Unit-6.2-Lesson_IPYNB_2_.html">Unit 6.2</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/Unit-6.3-Lesson_IPYNB_2_.html">Unit 6.3</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/Unit-6.4-Lesson_IPYNB_2_.html">Unit 6.4</a></td>
    </tr>
</table>