<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U4-Iteration_IPYNB_2_.html">Unit4 Home</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/unit_4.1_IPYNB_2_.html">4.1 While Loop</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/unit_4.2_IPYNB_2_.html">4.2 For Loop</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/unit_4.3_IPYNB_2_.html">4.3 String Iteration</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/unit_4.4_IPYNB_2_.html">4.4 Nested Iteration</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/unit_4_hwquiz_IPYNB_2_.html">Unit 4 HW Quiz</a></td>
    </tr>
</table>