<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/Home_IPYNB_2_.html">Unit8 Home</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/8.1_IPYNB_2_.html">Unit8.1</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/18/8.2_IPYNB_2_.html">Unit8.2</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/23/Unit8-ImageConverter_IPYNB_2_.html">ASCII image</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/23/unit8-hw_IPYNB_2_.html">Homework</a></td>
    </tr>
</table>