<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/22/unit_5-home_IPYNB_2_.html">Home</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/unit_5-classanatomy_IPYNB_2_.html">5.1</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit_5-constructors_IPYNB_2_.html">5.2</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/17/unit_5-accessor_IPYNB_2_.html">5.4</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/17/unit_5-toString_IPYNB_2_.html">5.41</a></td>        
        <td><a href="{{site.baseurl}}/devops/2024/09/17/unit_5-mutator-methods_IPYNB_2_.html">5.5</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/17/unit_5-writing-methods_IPYNB_2_.html">5.6</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/18/unit_5-static-variables-and-methods_IPYNB_2_.html">5.7</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/22/unit_5-scope_access_hacks_IPYNB_2_.html">5.8</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/19/unit_5-this-keyword_IPYNB_2_.html">5.9</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/23/unit_5-homework_IPYNB_2_.html">HW</a></td>
    </tr>
</table>

