<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit-6-0-Home-Page_IPYNB_2_.html">Unit2 Home</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit_2_part1_IPYNB_2_.html">Unit2 Part1</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit_2_part2_IPYNB_2_.html">Unit2 Part2</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/13/Unit_2_part3_IPYNB_2_.html">Unit2 Part3</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/Unit_2_part4_IPYNB_2_.html">Unit2 Part 4</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit_2_HW_IPYNB_2_.html">Unit2 HW</a></td>
    </tr>
</table>