<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit_5-home_IPYNB_2_.html">Unit5 Home</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/unit_5-constructors_IPYNB_2_.html">Constructors</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit_5-classanatomy_IPYNB_2_.html">classanatomy</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/13/Unit_5-accessor_IPYNB_2_.html">anccessor</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/Unit_5-mutator-methods_IPYNB_2_.html">mutator methods</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit_5-toString_IPYNB_2_.html">ToString</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit_5-writing-methods_IPYNB_2_.html">writing methods</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/unit_5-static-variables-and-methods_IPYNB_2_.html">Static variables and methods</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/Unit_5-this-keyword_IPYNB_2_.html">This Keyword</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/13/Unit_5-scope_access_hacks_IPYNB_2_.html">Scope access</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/Unit_5-homework_IPYNB_2_.html">Homework</a></td>
    </tr>
</table>

