<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U9-0-Inheritance_IPYNB_2_.html">Introduction to Inheritance</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U9-1_IPYNB_2_.html">9.1/9.2</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U9-3_IPYNB_2_.html">9.3/9.4</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/18/U9-5_IPYNB_2_.html">9.5</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U9-6_IPYNB_2_.html">9.6</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U9-7_IPYNB_2_.html">9.7</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/21/U9-hacks_IPYNB_2_.html">HACK</a></td>
    </tr>
</table>