<table>
    <tr>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U3-0-intro_IPYNB_2_.html">Unit3 Home</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/12/U3-1-Boolean_IPYNB_2_.html">Unit3 3.1</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit3_teamteach_3.2_IPYNB_2_.html">Unit3 3.2</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit3_teamteach_3.3_IPYNB_2_.html">Unit3 3.3</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit3_teamteach_3.4_IPYNB_2_.html">Unit3 3.4</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit3_teamteach_3.5_IPYNB_2_.html">Unit3 3.5</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit3_teamteach_3.6_IPYNB_2_.html">Unit3 3.6</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/15/unit3_teamteach_3.7_IPYNB_2_.html">Unit3 3.7</a></td>
        <td><a href="{{site.baseurl}}/devops/2024/09/16/unit_teamteach_hw_IPYNB_2_.html">Unit3 HW</a></td>
    </tr>
</table>